.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.custom-card {
    max-width: 1000px; 
    margin: 0 auto;
    padding: 20px;
}


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 60px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error input[type="text"],
.error input[type="number"],
.error select,
.error textarea {
    border: 2px solid red;
}

.button-space {
    margin: 0 10px;
}

.project-details label {
    font-weight: bold;
    display: inline-block;
    width: 150px;
}

.project-details-heading {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.w-full{
    width:100%;
}