.custom-card {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

.project-details-heading {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.project-details {
    color: #000;
    margin-left: 10px;
}

.project-details div {
    margin-bottom: 10px;
}

.project-details label {
    font-weight: bold;
    display: inline-block;
    width: 150px;
    margin-right: 10px;
}

.project-details span {
    display: inline-block;
    width: calc(100% - 160px);
    vertical-align: top;
}

button {
    padding: 10px 60px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}