<button (click)="goBack()">Back</button>
<mat-card class="custom-card">
    <div class="client-details-container">
        <h2 class="client-details-heading">CLIENT DETAILS</h2>
        <div class="client-details">
            <div>
                <label><strong>Client Name:</strong></label>
                <span>{{clientEntity.clientName}}</span>
            </div>
            <div>
                <label><strong>Currency:</strong></label>
                <span>{{clientEntity.currency}}</span>
            </div>
            <div>
                <label><strong>Email Id:</strong></label>
                <span>{{clientEntity.emailId}}</span>
            </div>
            <div>
                <label><strong>First Name:</strong></label>
                <span>{{clientEntity.firstName}}</span>
            </div>
            <div>
                <label><strong>Last Name:</strong></label>
                <span>{{clientEntity.lastName}}</span>
            </div>
            <div>
                <label><strong>Phone:</strong></label>
                <span>{{clientEntity.phone}}</span>
            </div>
            <div>
                <label><strong>Mobile:</strong></label>
                <span>{{clientEntity.mobile}}</span>
            </div>
            <div>
                <label><strong>Street Address:</strong></label>
                <span>{{clientEntity.streetAddress}}</span>
            </div>
            <div>
                <label><strong>City:</strong></label>
                <span>{{clientEntity.city}}</span>
            </div>
            <div>
                <label><strong>State:</strong></label>
                <span>{{clientEntity.state}}</span>
            </div>
            <div>
                <label><strong>Zip:</strong></label>
                <span>{{clientEntity.zip}}</span>
            </div>
            <div>
                <label><strong>Country:</strong></label>
                <span>{{clientEntity.country}}</span>
            </div>
            <div>
                <label><strong>Industry:</strong></label>
                <span>{{clientEntity.industry}}</span>
            </div>
            <div>
                <label><strong>Company Size:</strong></label>
                <span>{{clientEntity.companySize}}</span>
            </div>
            <div>
                <label><strong>Description:</strong></label>
                <span>{{clientEntity.description}}</span>
            </div>
        </div>
    </div>
</mat-card>