<div class="boootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-centre">Password Change</h1>
                <div *ngIf="token != null" class="password-change-form">
                    <form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()" novalidate>
                        <div class="field">
                            <input type="email" formControlName="email" placeholder="Email Address" readonly />
                        </div>
                        <div class="field"
                            [ngClass]="{'invalid-input': passwordChangeForm.get('password')?.invalid && passwordChangeForm.get('password')?.touched}">
                            <input type="password" formControlName="password" placeholder="New Password" />
                            <div *ngIf="passwordChangeForm.get('password')?.invalid && passwordChangeForm.get('password')?.touched"
                                class="text-danger">Choose a password of at least eight characters, one uppercase letter
                                and one number</div>
                        </div>
                        <div class="field"
                            [ngClass]="{'invalid-input': passwordChangeForm.get('confirmPassword')?.invalid && passwordChangeForm.get('confirmPassword')?.touched}">
                            <input type="password" formControlName="confirmPassword"
                                placeholder="Confirm New Password" />
                            <div *ngIf="passwordChangeForm.get('confirmPassword')?.invalid && passwordChangeForm.get('confirmPassword')?.touched"
                                class="text-danger">Passwords do not match</div>
                        </div>
                        <div>
                            <br>
                            <input type="submit" value="Submit" [disabled]="!passwordChangeForm.valid"
                                class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>