<button (click)="goBack()">Back</button>
<br/>


<mat-card class="custom-card">
    <div class="client-details-container">
        <h2 class="client-details-heading">End Event Voting DETAILS</h2>
        <div class="client-details">

            <div>
                <label><strong>Event ID:</strong></label>
                <span>{{eventEntity.eventId}}</span>
            </div>

            <div>
                <label><strong>Event Name:</strong></label>
                <span>{{eventEntity.eventname}}</span>
            </div>

            <div>
                <label><strong>Organized by:</strong></label>
                <span>{{eventEntity.organizedBy}}</span>
            </div>

            <div>
                <label><strong>Create At:</strong></label>
                <span>{{eventEntity.dateCreated}}</span>
            </div>
            <div>
                <label><strong>Description:</strong></label>
                <span>{{eventEntity.description}}</span>
            </div>
           
            <div>
                <label><strong>Selected Restaurant:</strong></label>
                <span>{{eventEntity.randomSelectedPlace}}</span>
            </div>
           
        </div>
    </div>
</mat-card>
<h1>Suggestion List</h1>
<table>
    <tr>
        <th>Proposed On</th>
        <th>Place Name</th>
        <th>Proposed By</th>
    </tr>
    @for (proposal of proposals; track proposal.title) {
        <tr>

            <td>{{ proposal.proposedOn }}</td>
          <td>{{ proposal.placeName }}</td>
          <td>{{ proposal.proposedBy }}</td>
     
          
        
        </tr>
      } @empty {
        <p>No proposals added yet!</p>
      }
</table>

