<div class="boootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Forgot Password</h1>
                <div *ngIf="token == null" class="forgot-password-form">
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" novalidate>
                        <div class="field">
                            <input type="email" formControlName="email" placeholder="Email Address"
                                [ngClass]="{'invalid-input': forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched}" />

                            <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched"
                                class="text-danger">Invalid email address</div>
                        </div>
                        <div>
                            <br>

                            <button type="submit" class="btn btn-primary"
                                [disabled]="!forgotPasswordForm.valid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>