.text-centre {
    text-align: center;
}

.forgot-password-form {
    width: calc(50% - 70px);
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.field input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.invalid-input {
    border: 2px solid red;
}