.custom-card {
    max-width: 1000px;
    margin: 20 auto;
    padding: 20px;
}


.client-details-heading {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.client-details {
    color: #000;
    margin-left: 10px;
}

.client-details div {
    margin-bottom: 10px;
}

.client-details label {
    font-weight: bold;
    display: inline-block;
    width: 150px;
}

.client-details label b {
    font-weight: normal;
}

.client-details span {
    display: inline-block;
    width: calc(100% - 150px);
    vertical-align: top;
}

button {
    padding: 10px 60px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    background-color: #007bff;
    color: white;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}