.mat-dialog-content {
  padding: 20px;
}

.mat-dialog-content {
  padding: 10px;
  font-size: 20px;
  border-radius: 0px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.mat-dialog-actions button {
  margin-left: 10px;
}

button.mat-button {
  padding: 10px 26px;
  /* Adjusted padding */
  font-size: 15px;
  /* Adjusted font size */
  border: none;
  border-radius: 80px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.mat-button:hover {
  background-color: #0056b3;
}

button.mat-button.color-primary {
  background-color: #0b0415;
  color: #fff;
}

button.mat-button.color-primary:hover {
  background-color: #4313d2;
}